<div id="posts-container" class="category-posts">
  {% for post in page_obj %}
    <div class="card">
    <div aria-label="Abstract gradient background" role="img" class="card-image"></div>
    <div class="card-content">
      <p class="card-title">{{ post.short_title }}</p>
      <p class="card-description">{{ post.preview_summary }}</p>
      <div class="card-tags">
        {% for tag in post.tags.all %}
        <a href="{% url 'posts_por_tags' tag.slug %}" class="card-tag">{{ tag.tag }}</a>
        {% endfor %}
      </div>
      <div class="card-footer">
        <div class="card-stats">
          <span class="card-stat"><i class="fa-solid fa-thumbs-up"></i> {{ post.likes }}</span>
          <span class="card-stat"><i class="fa-solid fa-eye"></i> {{ post.views }}</span>
          <span class="card-stat"><i class="fa-solid fa-comments"></i> {{ post.comments.count }}</span>
        </div>
        <a class="card-button" href="{% url 'posts_detalhe' post.slug %}">Explore</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<div class="paginacao">
  {% if page_obj.has_previous %}
    <a href="?page=1" class="pagination-link">&laquo; Primeira</a>
    <a href="?page={{ page_obj.previous_page_number }}" class="pagination-link">Anterior</a>
  {% endif %}

  <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>

  {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}" class="pagination-link">Próxima</a>
    <a href="?page={{ page_obj.paginator.num_pages }}" class="pagination-link">Última &raquo;</a>
  {% endif %}
</div>
