{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/index/index.css' %}">
<link rel="stylesheet" href="{% static 'css/index/cardpost.css' %}">
{% endblock %}

{% block content %}
<div class="header-conteiner">
  <i class="fa-brands fa-python particle"></i>
  <div class="title-header">
    <h1><i class="fa-brands fa-python"></i> A Comunidade PyBlog <i
        class="fa-solid fa-circle-info"></i></h1>
    <p class="subtitle-header1">Somos todos Python entusiastas</p>
    <p class="subtitle-header2">Se você hoje esta começando a comunidade te
      atendera muito bem,<br>se você ja e um profissional entao pode ajudar a
      comunidade</p>
    <div class="header-button">
      <a href="{% url 'index' %}"><i class="fa-solid fa-book"></i> Começe
        aqui!</a>
      <a href="{% url 'index' %}"><i class="fa-solid fa-code"></i> Solicitar
        cadastro</a>
    </div>
  </div>
</div>
<section class="category-conteiner">
  <div class="category">
    <ul class="category-list">
      <li class="category-item"><a href="{% url 'index' %}">Aprenda
          Python</a></li>
      <li class="category-item"><a href="{% url 'index' %}">Referências</a></li>
      <li class="category-item"><a href="{% url 'index' %}">Tutoriais</a></li>
      <li class="category-item"><a href="{% url 'index' %}">Livros</a></li>
      <li class="category-item"><a href="{% url 'index' %}">Comunidade</a></li>
    </ul>
  </div>

  <!-- POSTS (em um include para permitir AJAX parcial) -->
  <div id="posts-wrapper">
    {% include 'index/partials/posts_paginados.html' %}
  </div>
</section>

<section style="display: flex ; justify-content: center ; align-items: center; flex-wrap: wrap; width: 100%;">
  <div id="videos" style="width: 65%; display: flex ; justify-content: center ; align-items: center; flex-wrap: wrap; gap: 20px; margin: 50px 0px 50px 0px;"></div>
<p>Deixamos bem claro que os conteudos do blog sao totalmente gratuitos e sem fins lucrativos entao os videos mostrado aqui e busca no youtube nao temos nenhum tipo de parceria com youyubers e strimers </p>
</section>

<div id="aviso-transparencia">
   <p>
Este site exibe vídeos públicos do YouTube com fins exclusivamente educativos e sem fins lucrativos.
Não temos qualquer vínculo com os criadores dos vídeos. Ao continuar navegando, você concorda com essa política.
</p>
<button id="aceitar-aviso">Concordar</button>
</div>

{% block extra_js %}
<script src="{% static 'js/animaçao.js' %}"></script>
<script src="{% static 'js/index/videos.js' %}"></script>
<script src="{% static 'js/index/index.js' %}"></script>

{% endblock %}

{% endblock %}
