{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/categoria/paginacategoria.css' %}">
<link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
    {% endblock %}
{% block title %}{{ categoria.name }}{% endblock %}


{% block content %}
<div class="container-categoria">
<h1> {{ categoria.name.upper}}</h1>
</div>

{% for post in posts %}


  <div class="card-categoria" >
    <div class="card-image-post-categoria">
      <img src="{{ post.image }}" alt=""  >
    </div>

    <div class="card-content-categoria">
      <div class="card-title-categoria">
   <div style="text-align: start; font-size: clamp(1.5rem, 3vw, 1.9rem); font-weight: 100; margin-top: 15px; white-space:wrap; ">{{ post.title|title }}</div>
  <div class="post-detalhe-title" style="display: flex; align-items: center; justify-content: start; width: 100%; gap: 10px; flex-wrap: wrap; margin-top: 5px; ">
<div style="background-color: transparent; border: none; font-size: 13px;"><i class="fa-solid fa-eye"></i> {{ post.views }}</div>
<span style="text-align: start; font-size: 12px; ;" >Criado em: {{ post.created_at }}</span>
{% for tag in post.tags.all %}
    <a class="card-tag" style=" font-size: 12px;
    color: #4f46e5;
    background-color: #eef2ff;
    padding: 4px 10px;
    border-radius: 20px;
    transition: all 0.3s ease;" href="{% url 'posts_por_tags' tag.slug %}">{{ tag.tag}}</a>
{% endfor %}
         
   
</div>
    </div>
    <div class="card-content-body-categoria">
    <p>{{ post.content|truncatechars:500|safe}}</p>
    </div>
    <div class="card-footer-categoria">
    <a href="{% url 'posts_detalhe' post.slug %}">Ler mais</a>
    </div>
    </div>
  </div>
{% empty %}
  <div class="container-categoria-error" style="margin: 50px 0 50px 0;">
  <div class="row">
  <center>
    <!-- From Uiverse.io by TheAbieza --> 
<div class="container-animation" style="margin: 70px 0 100px 0;">
  <div class="folder">
    <div class="top"></div>
    <div class="bottom"></div>
  </div>
</div>
    <p class="sem-categoria-p" style="margin-top: 10px;">Parece que nenhuma postagem foi encontrada ¯\_(ツ)_/¯</p>
  </center>
  </div>
</div>
{% endfor %}

{% endblock %}
